# 复制此文件为 .env 并填入真实值
# cp .env.example .env

# 讯飞星火大模型
SPARKAI_APP_ID=073e07dd
SPARKAI_API_KEY=89c58c9ff806b199ebb047b5781051fe
SPARKAI_API_SECRET=YmRlMzg1ZWY3NTU0YTFmZmI1ODJiNjE4
SPARKAI_URL=wss://spark-api.xf-yun.com/chat/pro-128k
SPARKAI_DOMAIN=pro-128k

# DeepSeek
DEEPSEEK_API_KEY=sk-0f1799f7d2fd43378f4667748abfa40f
DEEPSEEK_BASE_URL=https://api.deepseek.com
